@import "tailwindcss";

@font-face {
    font-family: "Mooli";
    src: url("/src/assets/font/Mooli-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Mooli", sans-serif;
    @apply bg-linear-to-br from-slate-950 via-slate-900 to-slate-950;
}